<div class="top-bar" id="topBar" style="display: none;">
    <img src="" alt="Imagen de usuario" class="user-img" id="userImg">
    <div class="username" id="userName"></div>
    <button class="btn btn-info logout-btn" id="logoutBtn">Cerrar sesión</button>
 </div>