<div id="login" class="text-center mt-5">
    <h1>Broslunas Stats</h1>
    <p>Inicia sesión para ver tus estadísticas.</p>
    <a href="https://api.broslunas.com/spotify/login" class="btn btn-success">
      <img src="https://cdn.broslunas.com/icon/spotify.png" alt="Spotify Logo" style="width: 20px; height: 20px; margin-right: 8px;">
      Iniciar sesión con Spotify</a>
</div>