<div id="currentlyPlayingSection" style="display: none;">
    <h2 class="section-title">Ahora reproduciendo</h2>
    <div>
        <div class="now-playing-card" id="nowPlayingInfo">
            <!-- Sonando ahora -->
        </div>
        <div id="playbackControls" style="display: none;">
            <div style="display: inline-flex; flex-direction: column; align-items: center;">
        </div>
        <div id="playbackControls-2" style="text-align: center; margin: 1rem; gap: 10px;" class="np-card d-flex justify-content-center align-items-center">
            <button id="repeatBtn" class="np-controls btn btn-icon">
                <i class="fas fa-redo" style="color: gray"></i>
            </button>
            <button id="prevBtn" class="np-controls btn btn-icon">
                <i style="color: white" class="fas fa-step-backward"></i>
            </button>
            <button id="playPauseBtn" class="np-controls btn btn-icon">
                <i style="color: white" class="fas fa-play"></i>
            </button>
            <button id="nextBtn" class="np-controls btn btn-icon">
                <i style="color: white" class="fas fa-step-forward"></i>
            </button>
            <button id="shuffleBtn" class="np-controls btn btn-icon">
                <i class="fas fa-random" style="color: gray"></i>
            </button>
        </div>
    </div>
</div>