<h2 class="section-title" id="recentPlayedTitle" style="display:none;">Últimas canciones reproducidas</h2>
<ul id="recentList" style="display:none; list-style:none; padding:0;">
    <!-- Canciones -->
</ul>