<div id="miniPlayer">
    <div id="miniPlayerContent">
        <img id="miniPlayerImage" src="" alt="Cover">
        <div id="miniPlayerTrack">
            <span id="miniPlayerTrackName">Nada reproduciéndose</span>
            <span id="miniPlayerArtists"></span>
        </div>
    </div>
    <button id="miniPlayerPlayPause" class="btn btn-icon"></button>
</div>