<h2 class="section-title" id="playlistsTitle" style="display: none;">Tus Playlists</h2>
<div class="slider-container" id="playlistsSlider" style="display: none;">
  <button class="slider-btn left" id="playlistsLeft">&lt;</button>
  <div class="slider-items" id="playlistsItems">
     <!-- Playlist -->
  </div>
  <button class="slider-btn right" id="playlistsRight">&gt;</button>
</div>