<h2 class="section-title" id="genresTitle" style="display: none;">Tus géneros más escuchados</h2>
<div class="text-center mb-3">
	<a id="verMasGenres" class="btn btn-link" style="display:none;">Ver más</a>
</div>
<div class="slider-container" id="genresSlider" style="display: none;">
	<button class="slider-btn left" id="genresLeft">&lt;</button>
	<div class="slider-items" id="genresItems">
        <!-- Géneros  -->
	</div>
	<button class="slider-btn right" id="genresRight">&gt;</button>
</div>