<h2 class="section-title" id="artistsTitle" style="display: none;">Tus artistas más escuchados</h2>
<div class="text-center mb-3">
	<a id="verMasTopArtists" class="btn btn-link" style="display:none;">Ver más</a>
</div>
<div class="slider-container" id="artistsSlider" style="display: none;">
	<button class="slider-btn left" id="artistsLeft">&lt;</button>
	<div class="slider-items" id="artistsItems">
        <!-- Artistas -->
	</div>
		<button class="slider-btn right" id="artistsRight">&gt;</button>
	</div>